<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<title>Portal-Index</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-expand-lg white shadow">
  <div class="container">
    <img class="navbar-brand" src="images/logo.jpg"/>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-primary fw-medium" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-medium" href="#">Contact us</a>
        </li>
      </ul>
      <a class="btn shadow fw-medium" role="button" href="login" style="background: linear-gradient(to right, #ff6600 0%, #ff3399 100%); color: white">Login</a>
    </div>
  </div>
</nav>


<!-- carousel -->
<div id="carouselExample" class="container carousel slide mt-5">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/carousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/carousel2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/carousel3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Trending courses -->
<!-- <p class="fs-3 fw-bolder text-center fst-">Trending Courses</p> -->		<!-- fs=font-size  fw=font-width -->
<h2 class="text-center  mt-5 mb-5">Trending Courses</h2>
<div class="container">
	<div class="row">
		<div class="col">
			<img src="images/trendingcourse1.jpeg" width="420px" height="200px">
		</div>
		<div class="col">
			<img src="images/trendingcourse2.jpeg"  width="400px" height="200px">
		</div>
		<div class="col">
			<img src="images/trendingcourse3.jpeg"  width="420px" height="200px">
		</div>
	</div>
</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>